* {
    box-sizing: border-box;
}

body {

}

.PageContent {
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.ImageSidebar img{
    width: 33vw;
    position: relative;
}