

* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
    font-family: sidebar-logo-font;
    src: url(fonts/Norse-Bold.otf);
}

body {
    margin: auto;
}


.PageContent {
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;

    background-color: whitesmoke;
}


.ImageSidebar {
    height: 100vh;
    width: 40vw;
    min-width: 400px;
    position: relative;
}

.ImageSidebar > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.ImageSidebar .SidebarLogo {
    padding: 10px;
    height: 150px;
    min-height: 4rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 20%;
    
    font-size: 4rem;
    color: white;
    font-family: sidebar-logo-font, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ImageSidebar #sideBarLogoImage {
    height: 100%;
    object-fit: contain;
}

.ImageSidebar #sidebarCredit {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    position: absolute;
    bottom: 3%;

    color: white;
}



.MainContent {
    width: 100%;
    background-color: whitesmoke;
}

.MainContent form > div,
.MainContent header,
.MainContent footer {
    padding-left: 25px;
}

.MainContent form  ul{
    margin: 0;
    padding: 0;
    display:inline-block;
    list-style: none;
    padding-right: 50px;
}

.MainContent form  label {
    display: block;
    font-size: 0.5rem;
    font-weight: bold;
}

.MainContent form  input {
    height: 25px;
    width: 200px;
    margin-bottom: 20px;

    border: 1px solid #E5E7EB;
    border-radius: 3px;

}

.MainContent form input:focus {
    border: 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.MainContent form input:valid {
    border: 1px solid #596D48;


}

.MainContent form input.error {
    border: 1px solid red;
}

.MainContent form #formFields{
    background-color: white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.MainContent form button {
    margin: 25px 0;
    height: 40px;
    width: 180px;

    border: 0;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    
    background-color: #596D48;
    color: white;

    font-weight: bold;
}

.MainContent form button:hover {

}


header {
    font-weight: bold;
    max-width: 500px;
}
footer {
    font-size: 1rem;
}

a {
    color: inherit;
}